{
  "openapi": "3.0.3",
  "info": {
    "title": "One Dollar Computer API",
    "description": "Official API for the One Dollar Computer by Claudio Olmedo (also known as computador de um dólar / $1 computer / OneDollarBoard) — an open-source RISC-V educational computer designed to cost about $1 to manufacture. Provides active build milestones and Stripe Checkout for pre-order / allocation. Canonical site: https://claudioolmedo.com — agent docs: https://claudioolmedo.com/llms.txt",
    "version": "1.1.0",
    "contact": {
      "name": "Claudio Olmedo",
      "url": "https://claudioolmedo.com",
      "email": "via LinkedIn — https://www.linkedin.com/in/claudioolmedo-com/"
    },
    "license": {
      "name": "See project open-source hardware terms",
      "url": "https://github.com/claudioolmedo"
    },
    "x-aliases": [
      "One Dollar Computer",
      "computador de um dólar",
      "computadora de un dólar",
      "$1 Computer",
      "OneDollarBoard"
    ]
  },
  "servers": [
    {
      "url": "https://shop.claudioolmedo.com",
      "description": "Production Build & Allocation Server"
    }
  ],
  "paths": {
    "/api/campaigns": {
      "get": {
        "summary": "Get Active Milestones",
        "description": "Returns the active engineering and computer allocation milestones.",
        "responses": {
          "200": {
            "description": "A JSON array of active milestones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Milestone"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/create-checkout-session": {
      "post": {
        "summary": "Create Checkout Session",
        "description": "Initiate a Stripe Checkout session for a specified set of milestone allocations.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful session initialization",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Redirect URL to complete Stripe checkout."
                    },
                    "id": {
                      "type": "string",
                      "description": "Stripe Session ID."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid items or quantities selected"
          },
          "503": {
            "description": "Stripe keys are not configured"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Milestone": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "type": { "type": "string", "example": "Allocation" },
          "name": { "type": "string", "example": "Fund one computer allocation" },
          "description": { "type": "string" },
          "unitAmount": { "type": "integer", "description": "Target amount in cents" },
          "currency": { "type": "string", "default": "usd" },
          "probability": { "type": "string", "example": "100%" },
          "reward": { "type": "string" },
          "maxQty": { "type": "integer" }
        }
      },
      "CheckoutRequest": {
        "type": "object",
        "required": ["email", "items"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "supporter@example.com"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["id", "quantity"],
              "properties": {
                "id": { "type": "string" },
                "quantity": { "type": "integer", "minimum": 1 }
              }
            }
          }
        }
      }
    }
  }
}
